body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Open Sans';
}

main {
    flex: 1 0 auto;
}

.vote-msg {
    margin: 0;
}

.vote-option {
    background: #ff9800b3;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    color: #000;
}

.voted {
    background: #8a570bb3;
}

.big-link {
    font-size: 2rem;
}